# Dataset
data/

# Generated outputs
outputs/
*.pth
*.pt
*.ckpt

# Virtual environment
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Logs
*.log

# datasets
Datasets/
MPRNet/Deblurring/Datasets/

# model checkpoints
checkpoints/
MPRNet/Deblurring/checkpoints/

#all results from test.py
MPRNet/Deblurring/results/